body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 800px;
}

.column-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 45%;
}
.column-right {
    width: 55%;
}
