.mainNav {
    display: flex;
    gap: 20px;
}
.mainNav > .navLink {
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-bottom: 3px solid transparent;
}
.mainNav > .navLink:hover,
.mainNav > .navLink.active {
    border-color: blueviolet;
}
